{% extends 'layout.html' %}

{% block content %}
<p>
    The grand city, Bastion, rules the strange and myriad worlds with a gently clenched fist. You are a citizen of Bastion, though a third-class citizen at best. 
</p>
<p>
    Thus, you have community service.
</p>
<p>
    To repay your debts, you are forced to investigate the Great Aqueduct which provides the high city's water. The flow and quality have been dreadful lately, so it's time to toss a few schmucks in the portal and see if they can fix it.
</p>
<p>
    Good luck!
</p>

<p>
    <a href="/characters/new">Create your character!</a>
</p>
<p>
    <a href="/characters">See Character List</a>
</p>

{% endblock %}