{% extends 'layout.html' %}

{% block content %}
<p>
    <a href="/characters/new">Create Character</a>
</p>

<form action="/characters" method="get" class="tool-bar">
    <label for="search">Search Term</label>
    <input  id="search" 
            type="search" 
            name="q"
            value="{{ request.args.get('q') or '' }}"
            hx-get="/characters"
            hx-trigger="search, keyup delay:200ms changed"
            hx-target="tbody"/>
    <input type="submit" value="Search"/>
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Caste</th>
            <th>Descriptor</th>
            <th>Gift</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% include 'partials/rows.html' %}
        {% if characters|length == 10 %}
            <tr>
                <td colspan="5" style="text-align: center">
                    <span hx-target="closest tr"
                            hx-trigger="revealed"
                            hx-swap="outerHTML"
                            hx-select="tbody > tr"
                            hx-get="/characters?page={{ page + 1 }}">
                        Loading more...
                    </span>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}