<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Character Sheet Foolin'</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css">
    <script src="/static/js/htmx-1.8.0.js"></script>
    <script src="/static/js/_hyperscript-0.9.7.js"></script>
    <script src="/static/js/rsjs-menu.js" type="module"></script>
</head>

<body hx-boost="true">
    <main>
        <header>
            <h3>
                <all-caps>Digital Bastion</all-caps>
                <sub-title>Can you survive the Dreadful Aqueduct?</sub-title>
            </h3>
        </header>
        {% block content %}{% endblock %}
    </main>
</body>

</html>