{% extends 'layout.html' %}

{% block content %}

<form action="/characters/new" method="post">

    <fieldset>
        <legend>Character Values</legend>
        <div class="table rows">
            <p>
                <input type="hidden" name="id" id="id" value="{{ character.id }}">
                <label for="name">Name</label>
                <input  name="name"
                        id="name"
                        type="text"
                        placeholder="Name"
                        value="{{ character.name or ''}}">
                <span class="error">{{ character.errors['name'] }}</span>
            </p>
            <p>
                <label for="player">Player Name</label>
                <input  name="player"
                        id="player"
                        type="text"
                        placeholder="Player Name"
                        value="{{ character.player or none }}">
                <span class="error">{{ character.errors['player'] }}</span>
            </p>
            <p>
                <label for="status">Character Status</label>
                <input  name="status"
                        id="status"
                        type="text"
                        placeholder="Status"
                        value="{{ character.status[0] }}"
                        readonly>
                <span class="error">{{ character.errors['player'] }}</span>
            </p>
            <p>
                <label for="occupation_title">Occupation</label>
                <input  name="occupation_title"
                        id="occupation_title"
                        type="text"
                        size="40"
                        placeholder="Occupation Title"
                        value="{{ character.occupation[0] or none}}">
                <span class="error">{{ character.errors['occupation[0]'] }}</span>
            </p>
            <p>
                <label for="occupation_desc">Occupation Description</label>
                <textarea   name="occupation_desc"
                            id="occupation_desc"
                            rows="3"
                            cols="40"
                            placeholder="Occupation Description">{{ character.occupation[1] or none }}</textarea>
                <span class="error">{{ character.errors['occupation[1]'] }}</span>
            </p>
            <p>
                <label for="stats">Stats</label>
                <table for="stats">
                    <tr>
                        <th><label for="str">Strength</label></th>
                        <th><label for="dex">Dexterity</label></th>
                        <th><label for="cha">Charisma</label></th>
                        <th><label for="hp">Hit Points</label></th>
                    </tr>
                    <tr>
                        <td><input  name="str"
                            id="str"
                            type="number"
                            placeholder="3"
                            min="3"
                            max="18"
                            value="{{ character.str or none}}"
                            readonly></td>
                        <td><input  name="dex"
                            id="dex"
                            type="number"
                            placeholder="3"
                            min="3"
                            max="18"
                            value="{{ character.dex or none}}"
                            readonly></td>
                        <td><input  name="cha"
                            id="cha"
                            type="number"
                            placeholder="3"
                            min="3"
                            max="18"
                            value="{{ character.cha or none}}"
                            readonly></td>
                        <td><input  name="hp"
                            id="hp"
                            type="number"
                            placeholder="1"
                            min="1"
                            max="18"
                            value="{{ character.hp or none}}"
                            readonly></td>
                    </tr>
                </table>
            </p>
            <p>
                <label for="inventory">Inventory</label>
                <textarea   name="inventory"
                            id="inventory"
                            rows="3"
                            cols="40"
                            placeholder="Empty">{{ character.inventory or none}}</textarea>
                <span class="error">{{ character.errors['inventory'] }}</span>
            </p>

            <p>
                <label for="oddity_1_question">First Question</label>
                <textarea   name="oddity_1_question"
                            id="oddity_1_question"
                            rows="2"
                            cols="40">{{ character.oddity_1[0] or none}}</textarea>
                <span class="error">{{ character.errors['oddity_1_question'] }}</span>
            </p>
            <p>
                <label for="oddity_1_response">First Answer</label>
                <textarea   name="oddity_1_response"
                            id="oddity_1_response"
                            placeholder="{{ character.oddity_1[1] or none}}"
                            rows="5"
                            cols="40">{{ character.oddity_1[1] or none}}</textarea>
                <span class="error">{{ character.errors['oddity_1_response'] }}</span>
            </p>

            <p>
                <label for="oddity_2_question">Second Question</label>
                <textarea   name="oddity_2_question"
                            id="oddity_2_question"
                            rows="2"
                            cols="40">{{ character.oddity_2[0] or none}}</textarea>
                <span class="error">{{ character.errors['oddity_2_question'] }}</span>
            </p>
            <p>
                <label for="oddity_2_response">Second Answer</label>
                <textarea   name="oddity_2_response"
                            id="oddity_2_response"
                            placeholder="{{ character.oddity_2[1] or none }}"
                            rows="5"
                            cols="40">{{ character.oddity_2[1] or none }}</textarea>
                <span class="error">{{ character.errors['oddity_2_response'] }}</span>
            </p>
        </div>
        <button>Save</button>
    </fieldset>

</form>

<p>
    <a href="/characters">Back</a>
</p>

{% endblock %}