{% extends 'layout.html' %}

{% block content %}
<form action="/characters/new" method="post">
<fieldset>
    <h4><label for="name">Name</label>
        <input  name="name"
                id="name"
                type="text"
                placeholder="Name"
                value="{{ character.name or ''}}"> </h4>
    <h4>Failed Occupation - {{ character.occupation[0] }}</h4>
    <h5>{{ character.occupation[1] }}</h5>
    <p>
        <label for="player">Player Name</label>
        <input  name="player"
                id="player"
                type="text"
                placeholder="Player Name"
                value="{{ character.player or none }}">
        <span class="error">{{ character.errors['player'] }}</span>
        <input  name="id"
                id="id"
                type="hidden"
                value="{{ character.id }}">
    </p>
    <p>Current status: {{ character.status[0] }}
    </p>
    <table>
        <tr>
            <th>Strength</th>
            <th>Dexterity</th>
            <th>Charisma</th>
            <th>Hit Points</th>
        </tr>
        <tr>
            <td>{{ character.str }}</td>
            <td>{{ character.dex }}</td>
            <td>{{ character.cha }}</td>
            <td>{{ character.hp }}</td>
        </tr>
    </table>
    <p>
                <label for="inventory">Inventory</label>
                <textarea   name="inventory"
                            id="inventory"
                            rows="3"
                            cols="40"
                            placeholder="Empty">{{ character.inventory or none}}</textarea>
                <span class="error">{{ character.errors['inventory'] }}</span>
            </p>
    <div>
        <h4>{{ character.oddity_1[0] }}</h4>
        <p>
            <label for="oddity_1_response">First Answer</label>
            <textarea   name="oddity_1_response"
                        id="oddity_1_response"
                        placeholder="{{ character.oddity_1[1] or none}}"
                        rows="5"
                        cols="40">{{ character.oddity_1[1] or none}}</textarea>
            <span class="error">{{ character.errors['oddity_1_response'] }}</span>
        </p>
    </div>
    <div>
        <h4>{{ character.oddity_2[0] }}</h4>
        <p>
            <label for="oddity_2_response">Second Answer</label>
            <textarea   name="oddity_2_response"
                        id="oddity_2_response"
                        placeholder="{{ character.oddity_2[1] or none }}"
                        rows="5"
                        cols="40">{{ character.oddity_2[1] or none }}</textarea>
            <span class="error">{{ character.errors['oddity_2_response'] }}</span>
        </p>
    </div>
    <button>Save</button>
</fieldset>
</form>
{% endblock %}
