{% extends 'layout.html' %}

{% block content %}

<h1>{{ character.name }} - {{ character.occupation[0] }}</h1>
<h2>{{ character.occupation[1] }}</h2>
<h2>Played by {{ character.player }}</h2>
<h2>{{ character.status[0] }}</h2>
{% if character.status[1] %}
<h3>{{ character.status[1] }}</h3>
{% endif %}
<table>
    <tr>
        <th>STR</th>
        <th>DEX</th>
        <th>CHA</th>
    </tr>
    <tr>
        <td>{{ character.str }}</td>
        <td>{{ character.dex }}</td>
        <td>{{ character.cha }}</td>
    </tr>
</table>
<div>
    <div>Inventory: {{ character.inventory }}</div>
</div>
<div>
    <h4>{{ character.oddity_1[0] }}</h4>
    <div>{{ character.oddity_1[1] }}</div>
</div>
<div>
    <h4>{{ character.oddity_2[0] }}</h4>
    <div>{{ character.oddity_2[1] }}</div>
</div>


<p>
    <button hx-get="/characters/{{ character.id }}/edit"
            hx-push-url="true"
            hx-target="body">Edit Character</button>
    <button hx-get="/characters"
            hx-push-url="true"
            hx-target="body">Back to list</button>
    {% if character.status[0] == "Alive" %}
    <button hx-get="/characters/{{ character.id }}/kill"
            hx-push-url="true"
            hx-confirm="Actually kill this character?"
            hx-target="body">Kill Character</button>
    {% endif %}
</p> 

{% endblock %}
